
# python3.5:
# base:
Flask==0.12
Flask-Script==2.0.5
Flask-Cache==0.13.1
Flask-WTF==0.14.2

Flask-RESTful==0.3.5
Flask-Celery-Helper==1.1.0

Flask-Assets==0.12

#########################

Flask-Bcrypt==0.7.1
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.2
flask-mongoengine==0.8.2
Flask-OAuth==0.12
Flask-OpenID==1.2.5
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.1

# dev:
Flask-DebugToolbar==0.10.0

# sanic



